.counter {
    font-size: 3.0rem;
    font-weight: bold;
    color: green;
}

.restante {
    font-size: 0.7rem;
}

.historial {
    font-size: 0.9rem;
    font-weight: bold;
}

.monto {
    font-size: 0.8rem;
    font-weight: bold;
    color: green;
}

.fecha_pago {
    font-size: 0.7rem;
}

.id_pago {
    font-size: 0.9rem;
    color: #1abc9c !important;
    font-weight: bold;
}

.row_historial {
    border-top: solid 1px #b7b7b7;
}