
<ion-row>
  <ion-col>
    <ion-button icon-left shape="round" size="full" color="primary" (click)="uploadImg()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="Subir Imagenes"></ion-icon>
      {{ 'app.button.subirFoto'  }}
    </ion-button>
    
    <ion-button icon-left shape="round" size="full" color="primary" (click)="uploadImg()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon name="regresar"></ion-icon>
      {{ 'app.button.back'  }}
    </ion-button>
  </ion-col>
</ion-row>