<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.about.title.header'  }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="ion-text-center ion-padding bg-profile">
    <img src="assets/img/ionbooking-ico.png">
  </div>

  <ion-card class="ion-no-margin bg-white">
    <ion-card-content>
      <h1 class="ion-margin-bottom">
        <ion-text color="primary"><strong>Ihome</strong></ion-text>
      </h1>
      
      <p class="ion-margin-bottom">
        Arrendamiento de apartamentos en San Pedro Sula, el sistema esta dirigido tanto a los arrendadatarios que
         desean promocionar su apartamentos como para los potenciales arrendatarios, utilizando las tecnologias 
         disponibles a su favor para hacer el proceso de la busqueda y publicacion de apartamentos mas sencillo. 
      </p>
      
      
    </ion-card-content>
  </ion-card>

</ion-content>
