<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="secondary" (click)="close()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mis Pagos</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding animated fadeIn">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Hale para recargar" refreshingSpinner="circles" refreshingText="Recargando..."></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="2" size-lg="2" size-xs="6">
                <ion-label class="ion-text-center" class="restante">Dias Restantes</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-md="2" size-lg="1" size-xs="5"></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="2" size-lg="1" size-xs="4">
                <ion-label class="counter">{{pagos.dias_restantes}}</ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-md="2" size-lg="2" size-xs="6">
                <!-- <ion-button color="warning" (click)="pagar()" expand="full">Pagar &nbsp;<ion-icon color="success" name="ios-cash">
                    </ion-icon>
                </ion-button> -->
                {{pagos.dias_restantes<=0? '$' + monto :''}}
                <div id="paypal-checkout-btn" [hidden]="pagos.dias_restantes>0"></div>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="4" size-xs="12">
                <ion-item color="primary">
                    <ion-item color="primary">
                        <p slot="end" class="historial">Historial de pagos</p>
                    </ion-item>
                    <ion-icon slot="end" name="list-box"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="row_historial ion-justify-content-center" *ngFor="let item of pagos.historial" (click)="downloadPdf(item.id_pago)"> -->
        <ion-row class="row_historial ion-justify-content-center" *ngFor="let item of pagos.historial">
            <ion-col class="ion-align-self-center" size-md="5" size-lg="3" size-xs="10">
                <ion-label>
                    <h2 class="id_pago">{{item.id}}</h2>
                    <h4 class="fecha_pago">Fecha: {{item.fecha | date}}</h4>
                </ion-label>
            </ion-col>
            <ion-col class="ion-align-self-center" size-md="1" size-lg="1" size-xs="2">
                <p class="monto">{{item.monto | currency:"USD":true:"1.2"}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>