<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mi lista</ion-title>
    </ion-toolbar>

    <!-- <ion-toolbar color="dark">
    <ion-title>
      <h6 class="ion-no-margin"></h6>
    </ion-title>
  </ion-toolbar> -->
</ion-header>



<ion-content class="animated fadeIn">

    <div class="ion-padding">

        <ion-segment [(ngModel)]="hotelLists" (ionChange)="segmentChanged($event)" color="light">
            <ion-segment-button value="cardlist">
                <ion-icon name="apps" color="tertiary"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="linelist">
                <ion-icon name="list" color="tertiary"></ion-icon>
            </ion-segment-button>
            <!-- <ion-segment-button value="maplist">
        <ion-icon name="map" color="tertiary"></ion-icon>
      </ion-segment-button> -->
        </ion-segment>

        <!-- <ion-item> -->
        <ion-button expand="full" color="light" (click)="registrarNuevo()">Crear</ion-button>
        <!-- </ion-item> -->


        <div [ngSwitch]="hotelLists">

            <div *ngSwitchCase="'cardlist'" [@staggerIn]='hotels?.length'>
                <ion-card class="ion-no-margin ion-margin-bottom hotelsCard" tappable routerLink="/hotel-detail/{{hotel.id_anuncio}}" *ngFor="let hotel of hotels; let i = index">
                    <ion-img [src]="hotel.images[0].url_foto"></ion-img>
                    <ion-card-title color="light">{{ hotel.anuncio }}</ion-card-title>
                    <div class="shadow"></div>
                    <ion-card-content>
                        <ion-badge slot="start" color="dark" class="rooms">
                            <ion-icon name="book" color="secondary"></ion-icon>
                            Habitaciones {{hotel.numero_cuartos}}
                        </ion-badge>
                    </ion-card-content>
                </ion-card>
            </div>


            <div *ngSwitchCase="'linelist'" [@staggerIn]='hotels.length'>

                <ion-item color="primary" tappable routerLink="/hotel-detail/{{hotel.id_anuncio}}" class="ion-margin-bottom" *ngFor="let hotel of hotels; let i = index">
                    <ion-thumbnail slot="start">
                        <img [src]="hotel.images[0].url_foto">
                    </ion-thumbnail>
                    <ion-label>
                        <h2><strong>{{ hotel.anuncio }}</strong></h2>
                        <h3>
                            <ion-badge slot="start" color="secondary" class="rooms">
                                <ion-icon name="book" color="tertiary"></ion-icon>
                                Habitaciones {{hotel.numero_cuartos}}
                            </ion-badge>
                        </h3>
                    </ion-label>
                </ion-item>

            </div>
        </div>
    </div>

</ion-content>